body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #4facfe, #00f2fe);
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Container */
.login-container {
  background: rgb(4, 2, 2);
  padding: 30px;
  border-radius: 12px;
  width: 320px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.login-container h2 {
  margin-bottom: 20px;
}

/* Input group */
.input-group {
  position: relative;
  margin-bottom: 15px;
}

/* Left icons */
.left-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  opacity: 0.7;
}

/* Right eye icon */
.right-icon {
  color: white;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  cursor: pointer;
  opacity: 0.7;
}

.right-icon:hover {
  opacity: 1;
}

/* Input fields */
.input-group input {
  width: 100%;
  padding: 10px 40px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  box-sizing: border-box;
}

/* Button */
button {
  width: 100%;
  padding: 10px;
  background: #4facfe;
  border: none;
  color: white;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background: #3a8dde;
}

/* Text links */
p {
  font-size: 14px;
}

label {
  color: #007bff;
  cursor: pointer;
  font-weight: bold;
  margin-left: 5px;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  justify-content: center;
}